* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62, 5%;
  --title: "Allura", cursive;
  --options: "Source Sans 3", sans-serif;
  --dark: #080d09;
  --yellow: #d9b13b;
  --orange: #f28a2e;
  --red: #f25922;
  --white: #f2f2f2;
  --white-gray: #b9b7b7;
}

body {
  background-color: var(--dark);
}

main {
  width: 100vw;
  height: 100vh;
}

section {
  display: grid;
  justify-items: center;
  padding-bottom: 2rem;

  @media screen and (max-width: 768px) {
    text-align: center;
    align-items: center;
  }
}

table {
  line-height: 1.5rem;
  width: 80vw;
  /* margin-top: 2rem; */
  text-align: left;
  padding: 1rem;

  @media screen and (max-width: 768px) {
    width: 95vw;
    /* background-color: green; */
    /* margin-inline: auto;  */
    justify-content: center;
    align-items: center;
  }
}

th {
  font-family: var(--options);
  padding-bottom: 0.5rem;
  color: var(--orange);
  font-size: 1.2rem;
  text-align: right;
}

td {
  font-family: var(--options);
  color: var(--white);
  font-size: 1.2rem;
}

td+td {
  text-align: right;

  @media screen and (max-width: 768px) {
    /* background-color: #d9b13b; */
    width: 5vw;
    text-align: right;
  }
}

strong {
  font-size: 1.2rem;
}

h1 {
  font-family: var(--title);
  font-size: 5.5rem;
  color: red;
  margin-top: 2.5rem;
}

h2 {
  font-size: 4rem;
  color: var(--orange);
  font-family: var(--title);
  margin: 2.5rem 2rem 1.5rem;

  @media screen and (max-width: 768px) {
    text-align: center;
    line-height: 3.5rem;
  }
}

h3 {
  font-family: var(--options);
  font-size: 1.5rem;
  margin: 1rem auto;
  color: var(--white);
  width: 50vw;
  text-align: center;
  color: var(--white-gray);

  @media screen and (max-width: 768px) {
    width: 90vw;
    font-size: 1.3rem;
  }
}

h4 {
  font-family: var(--options);
  font-size: 1.8rem;
  color: var(--white);
  margin-top: 2rem;
}

p {
  color: var(--white-gray);
  margin: 2rem;
}

.caption {
  color: var(--white-gray);
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.bottom {
  padding-bottom: 1rem;
}

.sandwiches td:first-child {
  @media screen and (max-width: 768px) {
    width: 80vw;
    /* background-color: chartreuse; */
  }
}

.sandwiches td+td {
  padding-left: 5rem;
  
  @media screen and (max-width: 768px) {
    padding-left: 1rem;
    /* background-color: aqua;   */
  }
}

.sandwiches td+td+td {
  padding-left: 5rem;
  
  @media screen and (max-width: 768px) {
    padding-left: 1rem;
    /* background-color: orangered; */
  }
}

.alinhar-h {
  display: flex;

  @media screen and (max-width: 768px) {
    display: block;    
  }
}

.additional {
  width: 80%;
  border: none;
  margin-bottom: 1rem;

  @media screen and (max-width: 768px) {
    /* background-color: #f25922; */
    width: 90vw;
    padding: 0;
    margin-bottom: 0;
    }
}

.additional td {
  width: 15rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  white-space: nowrap;

  @media screen and (max-width: 768px) {
    padding-left: 0;    
  }
}

.additional td+td {
  padding: 0.3rem;
}

.churras {
  border: 0.25rem dotted var(--white-gray);
  margin-top: 2rem;
  padding: 1.5rem;
  text-align: center;
  width: 70vw;

  @media screen and (max-width: 768px) {
    width: 90vw;
  }
}
















/* 
.container {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
} */

/* .order {
  display: flex;
  flex-direction: column;
}

.order button {
  background-color: yellow;
  color: red;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  border-radius: 1.3rem;
  cursor: pointer;
  margin-top: 1rem;
} */

/* .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.card {
  text-align: center;
}

.card img {
  width: 100%;
  height: 100%;
  aspect-ratio: auto;
} */